* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background-color: #111;
    color: #fff;
}

:root {
    --gradient-1: linear-gradient(to right, rgba(0, 255, 30, 0), rgba(44, 250, 243, 0));
    --gradient-2: linear-gradient(to right, rgba(255, 68, 0, 1), rgba(250, 154, 44, 1));
}

@media only screen and (max-width: 1400px) {
    .icon-menu {
        display: flex;
        z-index: 6;
        color: #fff;
        font-size: 28px;
    }

    .fa-solid {
        padding: 15px;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #000;
        color: white;
        padding: 15px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
    }

    .hamburger-menu {
        display: flex;
        align-items: center;
        width: 80px;
        padding: 10px;
        cursor: pointer;
        font-weight: 900;
        font-size: 1.5rem;
    }

    .logo {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        text-align: center;
    }

    .icon-menu img {
        z-index: 999;
        width: 35px;
        height: 35px;
        color: #943838;
    }

    .vertical-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-top: 88px;
        width: 450px;
        height: 100%;
        background-color: #1b1b1b;
        color: black;
        left: -450px;
        overflow: auto;
        transition: left 0.3s;
        z-index: 2;
    }

    .vertical-menu.open {
        left: 0;
    }

    .vertical-menu a {
        display: block;
        padding: 12px;
        text-decoration: none;
        color: #ccc;
        font-weight: 300;
    }

    .vertical-menu a:hover {
        background-color: #555;
        color: white;
    }

    .menu-item {
        position: relative;
        z-index: 1;
        background: var(--gradient-1);
    }

    .menu-item::before {
        border-radius: 0px;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--gradient-2);
        opacity: 0;
        transition: opacity 0.4s;
        z-index: -1;
    }

    .menu-item:hover::before {
        opacity: 1;
    }

    .menu-item.active {
        color: #fff;
        font-weight: 700;
        background-color: rgb(46, 46, 46);
    }

    .content {
        padding: 20px;
        flex-grow: 1;
        text-align: center;
        transition: margin-left 0.3s;
        margin-bottom: 70px;
    }

    .content h1 {
        margin-top: 90px;
    }

    .gallery-container {
        position: relative;
        max-width: 85%;
        margin: auto;

    }

    .gallery {
        display: flex;
        flex-wrap: row;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: auto;
        position: relative;
        transition: transform 0.5s ease;
    }

    .gallery-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
    }

    .gallery img {
        border: 4px solid transparent;
        border-radius: 30px;
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: transform 0.5s ease;
    }

    .gallery li {
        flex: 0 0 100%;
        transition: transform 0.5s ease;
    }

    .gallery-container img:hover {
        border-color: rgba(255, 255, 255, 0.8);
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        padding: 10px;
        font-size: 28px;
        width: 60px;
        height: 60px;
    }

    .prev {
        left: 20px;
        font-size: 20px;
    }

    .next {
        right: 20px;
        font-size: 20px;
    }
}


@media only screen and (min-width: 1400px) {
    .header {
        background-color: #000;
        color: white;
        padding: 15px;
    }

    .fa-solid {
        padding: 5px;
    }

    .logo img {
        width: 155px;
        margin-left: 15px;
        margin-top: 5px;
    }

    .icon-menu {
        display: none;
        z-index: 6;
    }

    .vertical-menu {
        float: left;
        margin-left: 350px;
        margin-top: -67px;
        background-color: transparent;
    }

    .vertical-menu a {
        text-align: center;
        text-decoration: none;
        border-radius: 100px;
        display: inline-block;
        padding: 14px 20px;
        color: white;
        background: var(--gradient-1);
        margin-left: 15px;
    }

    .menu-item {
        position: relative;
        z-index: 1;
        background: var(--gradient-1);
    }

    .menu-item::before {
        border-radius: 100px;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--gradient-2);
        opacity: 0;
        transition: opacity 0.4s;
        z-index: -1;
    }

    .menu-item:hover::before {
        opacity: 1;
        font-weight: 500;
    }

    .vertical-menu a.active {
        transition: ease-in-out;
        color: #fff;
        font-weight: 700;
        background-color: #111;
    }

    .content {
        padding: 20px;
    }

    .content h1,
    .content p {
        margin-bottom: 20px;
    }

    .gallery-container {
        position: relative;
        max-width: 1200px;
        max-height: 693px;
        margin: auto;
        overflow: hidden;
        transition: border-color 0.3s ease;
        border: 4px solid transparent;
        border-radius: 30px;
    }

    .gallery-container:hover {
        border-color: rgba(255, 255, 255, 0.8);
    }

    .gallery {
        display: flex;
        transition: transform 0.5s ease;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .gallery li {
        flex: 0 0 100%;
        transition: transform 0.5s ease;
    }

    .gallery img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        padding: 10px;
        font-size: 28px;
        width: 60px;
        height: 60px;
    }

    .prev {
        left: 20px;
        font-size: 20px;
    }

    .next {
        right: 20px;
        font-size: 20px;
    }
}






.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.catalogo h2 {
    margin-bottom: 1rem;
}

.catalogo-container {
    display: grid;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    background: #555;
}


.catalogo-container ul {

    background: #4a616c;
}

.catalogo-container li {
    background: #943838;
    height: 100%;
    width: 100%;
}


.pelicula {
    z-index: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000000;
    transition: z-index 1s ease, background-color 0.5s ease;
}

.blur {
    filter: blur(0px);
}

.vertical-menu {
    &.open {
        +.pelicula {
            z-index: 1;
            background-color: #00000095;
            transition: z-index 0s, background-color 1s ease; /* Ajusta a transição */
        }

        +.pelicula+.blur {
            filter: blur(10px);
        }
    }

    +.pelicula {
        transition: background-color 1s ease-in-out;
    }

    +.pelicula+.blur {
        transition: filter 1s ease-in-out;
    }
}

