body {
    font-family: 'Raleway', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    text-align: center;
    align-items: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#username{
    margin-right: 10px;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

a {
    display: block;
    margin: 10px 0;
    padding: 15px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

.filter-form,
.results {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.book-item {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #0056b3;
    color: #fff;
}

.botao_head{
    display: block;
    margin: 10px 0;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    background-color: #0056b3;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.botao_head:hover {
    background-color: #034790;
}

#esta-aqui {
    background-color: #033871;
    font-weight: 900;
}

.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica em cima da página */
    z-index: 1; /* Fica na frente */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ativa o scroll se necessário */
    background-color: rgb(0,0,0); /* Cor de fundo */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com opacidade */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Pode ser ajustado */
    max-width: 300px; /* Pode ser ajustado */
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#confirmButton {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirmButton:hover {
    background-color: #0056b3;
}