:root {
    --primary-color: #086997;
    --secondary-color: #0881b9;
    --success-color: #28a745;
    --success-color-1: #21cf49;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: rgb(214, 208, 235);
    --dark-color: #343a40;
    --white-color: #f3f3f3;
    --white-color-1: #e9e9e9;
    --white-color-2: #f1f1f1;
    --black-color: #000;
    --gray-color: #cbced1;
    --gradiente: linear-gradient(45deg, #086997, #0881b9);
    --cor-texto-botão: #ffffff;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white-color-1);
    margin: 0;
    padding: 0;
}

.botao_head {
    background-color: #0057b300;
    display: block;
    margin: 10px 0;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: var(--light-color);
    border-radius: 5px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.botao_head:hover {
    color: var(--white-color);
}

#toggleThemeButton {
    background-color: #0057b300;
    display: block;
    margin: 10px 0;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: var(--light-color);
    border-radius: 5px;
    font-size: 18px;
    transition: 1s ease;
}

#toggleThemeButton:hover {
    color: var(--black-color);
    background-color: var(--info-color);
}

#esta-aqui {
    font-weight: 600;
    color: var(--cor-texto-botão);
}

a {
    display: block;
    margin: 10px 10px;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: var(--secondary-color);
}

.botao_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--cor-texto-botão);
    width: 300px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background: var(--gradiente);
    color: var(--dark-color);
    text-transform: uppercase;
}

.logo {
    max-height: 55px;
    height: auto;
}

.container,
.container-min,
.container-consulta,
.container-submit,
.container-AllBooks,
.container-edit,
.container-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.container-form{
    max-width: 750px;
}

.book-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 50vh;
    color: var(--black-color);
}

.container,
.container-AllBooks {
    max-width: 85%;
}

.container-min {
    max-width: 350px;
}

.container-consulta {
    max-width: 75%;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container-submit {
    max-width: 650px;
}

.container-edit {
    max-width: 750px;
}

.login-container {
    text-align: center;
    align-items: center;
    margin: 50px auto;
    padding: 40px;
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

#username {
    margin-right: 10px;
}

h1 {
    padding: 20px;
    margin-bottom: 20px;
    color: var(--black-color);
}

h2 {
    text-align: center;
    color: var(--black-color);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--success-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button{
    padding: 10px;
    margin-top: 4px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--success-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--success-color-1);
}

.filter-container{
    position: relative;
    display: flex;
    align-items: center;
    color: var(--black-color);
    max-width: 90%;
}

.filter-container input{
    color: var(--black-color);
}

.filter-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.filter-form input {
    background-color: var(--white-color-1);
    display: inline-flex;
    margin: 0px 40px;
    width: 85px;
}

.filter-form label {
    display: inline-flex;
    margin-right: -30px;
    color: var(--black-color);
}


.filter-pesquisa input{
    background-color: var(--white-color-1);
    width: 400px;

}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 50px auto;
    padding: 20px;
    color: var(--black-color);
}

.text-consulta {
    margin: 50px auto;
}

.submit {
    display: flex;
    flex-direction: row;
}

.submit-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    position: relative;
    left: -20px;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 230px;
    color: var(--black-color);
}

.book-item {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.bookImg img {
    position: relative;
    left: -40px;
    padding: 20px;
    height: 430px;
    width: 300px;
}

.submit-img img {
    position: relative;
    left: -27px;
    padding: 20px;
    height: 430px;
    width: 300px;
    border-radius: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 600;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.close {
    color: var(--gray-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--black-color);
    text-decoration: none;
}

#confirmButton, #cancelButton{
    margin-top: 8px;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

#confirmButton:hover {
    background-color: var(--secondary-color);
}

div#listOfBooksSearch {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: var(--white-color-2);
    max-width: 350px;

}

.bookCard img {
    height: 200px;
    width: 140px;
    padding: 5px;
    margin: 5px auto;
}

.bookCard p#bookTitle {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: var(--black-color);
}

.bookCard p {
    margin: 3px;
    color: var(--black-color);
}

.bookCard button#btnRemove {
    background-color: var(--danger-color);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 125px;
}

.bookCard button#btnRemove:hover {
    background-color: rgb(199, 1, 1);
}

.bookCard button#btnRemove::before {
    content: '\f1f8';
    color: white;
    position: relative;
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 5px;
}

.bookCard button#btnEdit {
    background-color: var(--dark-color);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    width: 125px;
}

.bookCard button#btnEdit:hover {
    background-color: var(--secondary-color);
}

.bookCard button#btnEdit::before {
    content: '\f303';
    color: white;
    position: relative;
    font-family: FontAwesome;
    font-size: 16px;
    left: -10px;
}

button#btnRemove, button#cancelButton {
    background-color: var(--danger-color);
}

button#btnRemove:hover, button#cancelButton:hover {
    background-color: rgb(199, 1, 1);
}

button#btnRemove::before {
    content: '\f1f8';
    color: white;
    position: relative;
    font-family: FontAwesome;
    font-size: 16px;
    right: 5px;
}

.botao-edit{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 10px;
    margin-right: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

i {
    margin: -2px;
}

p#bookTitle {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
}

div#listOfAllBooks p#emptyBookList {
    display: block;
    text-align: center;
    grid-column: 1 / 5;

}

#foundBooks,
#listOfAllBooks {
    display: grid;
    grid-gap: 20px;
    margin: 10px;
}

div#foundBooks div,
div#listOfAllBooks div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    color: var(--dark-color);
    max-width: 235px;
    width: 240px;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: var(--white-color-2);
}

div#foundBooks img,
div#listOfAllBooks img {
    height: 200px;
    width: 140px;
    margin: 5px auto;
}

#book-form label, .form-group label {
    color: var(--black-color);
}

#book-form input, .form-group  input {
    background-color: var(--white-color-1);
    color: var(--black-color);
    width: 250px;
}

#book-form input#imagem {
    color: var(--black-color);
}